{% extends 'base.html' %}

{% block page_title %}
    Reset password
{% endblock %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center flex-column justify-content-center h-100">
        <p>
            Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="post">
            {% csrf_token %}

            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif%}
            <p>{{ form.email }}</p>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
{% endblock %}